# Copy this to ~/.config/git/config and customize your identity.
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
[init]
    defaultBranch = master
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
[commit]
    verbose = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = -version:refname
[rerere]
    enabled = true
    autoupdate = true
[user]
    name = YOUR NAME
    email = YOUR EMAIL
[credential]
    helper = libsecret

